 .u-section-1 {
  background-image: linear-gradient(#478ac9, #f1b5b8);
}

.u-section-1 .u-sheet-1 {
  min-height: 1854px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 1764px;
  margin: 65px -560px 25px 537px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 0;
  }
}